* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
  }
  
  h3 {
    font-size: 24px;
  }
  
  p {
    font-size: 12px;
  }

  
  div.top-header {
    padding: 5%;
  }
  
  header {
    background-color: #eac926;
  }

  

  .logo-barra{
    display:flex;
    justify-content:space-around
  }

  header .form{
    width: 70%;
    display: flex;
  }

  header form button {
    display: flex;
    position: relative;
    right: 20px;
    top:22px;
    border: none;
    background-color: white;
    color:gray;
    height: 10%;
  }
  
  header div.logo {
    width: 30%;
  }
  
  header div.logo {
    padding: 10px;
  }
  header nav {
    font-size: 12px;
  }
  
  header ul li {
    list-style-type: none;
    padding-right: 10px;
  }

  
  
  header ul li a {
    text-decoration: none;
    color: #000;
  }
  
  header .form .input {
    background-color: #fff;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
  }
  header .form .submit {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    width: 10%;
  }
  
  header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
  div.burger-menu {
    text-align: center;
  }
  
  div.burger-menu i {
    background-color: #0044aa;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
  }
  
  .price {
    font-size: 18px;
    width: 30%;
  }
  
  .discount {
    width: 70%;
    position: relative;
    left : 40px;
  }
  
  .discount,
  .description {
    font-size: 16px;
    font-weight: normal;
  }
  
  h4,
  .description {
    color: white;
  }
  .products article :hover .description{
  color: gray;
}

  
  .description {
    display: none;
    margin-top: 20px;
  }

  
  img{
      width: 100%;
  }
  
  main {
    width: 90%;
    margin: 0 auto;
  }
  
  main section article {
    background-color: #fff;
    margin: 10px 0px;
  }
  
  main section article img {
    width: 100%;
  }
  
  main section article i,
  .discount {
    color: #39b54a;
  }
  
  main section article i {
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
  }

   .fa-truck:hover{
    transform: rotate(-90deg);
    transition: 450ms;
  }
  
  main section h3 {
    margin: 20px 0px;
  }
  
  article div.main-article {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
/*FOOTER*/

  footer{
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 10px;
    background-color: #ebebeb;
}

footer i{
  color :rgb(65, 105, 225);
  font-size: 2em;
  padding: 10px;
}

footer article{
  margin: 0 40px 50px 40px;
}

.copyright{
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: grey;
}

.footer article i:hover {
  color: rgb(106, 90, 205);
}

nav ul {
    display: none;
}

main .last-visit article :hover i{
  transform: rotate(-90dg);
  transition-duration:450ms ;
}

/*FORMULARIO REGISTER*/

.register{
  background-color:rgb(238, 238, 238);
}

.register input{
  background-color:#ebebeb
}

.name{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

 .name input{
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-family: italic;
    border: solid 1px rgb(65, 105, 225);
}

.fecha_de_nacimiento{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.fecha_de_nacimiento input{
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-family: italic;
    border: solid 1px rgb(65, 105, 225);
}

.direccion{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.direccion input{
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  border-radius: 3px;
  font-family: italic;
  border: solid 1px rgb(65, 105, 225);
}

.rango{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}


.interes{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  font-family: italic;
}

.interes label{
  padding: 10px 0px 10px
}

.contraseña{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.contraseña input{
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  border-radius: 3px;
  font-family: italic;
  border: solid 1px rgb(65, 105, 225);
}

.button-form button{
  background-color: rgb(248, 248, 255);
  color: black;
  border-radius: 3px;
  border: solid 1px black
}

/*FORMULARIO LOGIN*/

form label{
  font-family: italic;
  display: flex;
  justify-content: center;
  margin :20px;
}

form input{
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border: solid 1px rgb(65, 105, 225);
  border-radius: 3px;
}

.button-login{
  display: flex;
  justify-content: center;
  background-color: #ebebeb;;
  color: black;
  border-radius: 3px;
  margin : 10px
}

  #enviar{
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}

#enviar {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

#enviar:hover {
  background-color: #008CBA;
  color: white;
}





    @media (min-width: 361px) {
    /* Tablet */
    main section article .description {
      display: block;
    }
    nav ul {
        display: block;
        
    }

    .burger-menu{
        display: none;
    }
    main section article:hover {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    main section article {
      width: 48%;
    }

    header div .top-header{
        display: flex;
        flex-direction: row;
    }
    nav ul{
        display: flex;
    }
    
    nav{
        display: flex;
        justify-content: space-around;;
    }
  }
  
  @media (min-width: 769px) {
    /* Desktop */
    main section article {
      width: 23%;
    }
    main section article{
        width: 23%;
    }

    .footer{
        display: flex;
        flex-wrap: nowrap;
        max-width: 90%;
        margin:auto;
        justify-content: space-around;
     }
     .form-login{
       max-width: 70%;
       margin: auto;
     }
     .register{
      max-width: 70%;
      margin: auto;
     }.menu-left{
      font-size: 90%;
      margin-right: 10%;
  }
  .menu-right{
      font-size: 90%;
  }
  nav ul li {
    padding: 10px;
  }

     
  }